---
import type { Foo } from "./types";
import Button from "./Button";
const items: Array<string> = [];
---
<html lang="en">
  <head><title>Astro test</title></head>
  <body>
    <img src="x.png">
  </body>
</html>
